<mat-toolbar color="primary">
  <span>Decathlon App</span>
</mat-toolbar>

<mat-grid-list cols="6" rowHeight="1:4">
  <mat-grid-tile colspan="1"></mat-grid-tile>
  <mat-grid-tile colspan="4">



    <div class="v-form-deca">
      <mat-form-field appearance="outline">
        <mat-label>Time for estimate</mat-label>
        <input matInput type="number">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Intial people in the shop</mat-label>
        <input matInput type="number">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Incoming client</mat-label>
        <input matInput type="number">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Incoming client interval (in minutes)</mat-label>
        <input matInput type="number">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Outgoing client</mat-label>
        <input matInput type="number">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Outgoing client interval (in minutes)</mat-label>
        <input matInput type="number">
      </mat-form-field>

      <button mat-raised-button color="primary">Calculate</button>
    </div>




  </mat-grid-tile>
</mat-grid-list>


